$hero-bg: linear-gradient(135deg, #e9eaf6, #fff);

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$container-max-width: 1208px + 30px;

$color-primary: #1b277c;
$color-secondary: #5c6dbd;

$border-radius: pxToRem(4);

$icon-1-bg: #bcdefa;
$icon-1-color: #278ae1;
$icon-2-bg: #c9e5c9;
$icon-2-color: #479f4c;
$icon-3-bg: #fff8c7;
$icon-3-color: #f7a737;
$icon-4-bg: #e0bfe6;
$icon-4-color: #8c2da7;
